{% load static %}
    
        {% for post in latest_posts %}
        <a href="{{ post.get_absolute_url }}" class="trending-news-box">
            <div class="trending-news-img-box">
                <span class="trending-number place-items-center">{{ post.id }}</span>
                <img src="{{ post.image.url}}" alt="" class="article-image">
            </div>

            <div class="trending-news-data">

                <div class="article-data">
                    <span>{{ post.publish }}</span>
                    <span class="article-data-spacer"></span>
                    <span>{{ post.author }}</span>
                </div>

                <h3 class="title article-title">{{ post.title }}</h3>

            </div>
        </a>
        {% endfor %}
       
 