{% extends 'base_2.html' %}
{% load widget_tweaks %}
{% load blog_tags %}
{% load static %}
{% block title %}Mensaje enviado{% endblock %}

{% block content %}

    <section class="list-posts section">
        <div class="success-container content">
            <p><i class="ri-mail-check-line ri-10x"></i></p>
            <h1>Muchas gracias por tu contacto</h1>
            <p>Tu información de contacto y tu mensaje se han enviado con éxito</p>
            <button onclick="window.location.href='/';" class="css-button-sliding-to-left--sand">
                       Inicio
            </button>
        </div>
    </section>

{% endblock %}
