{% load static %}

{% for post in trend %}
    
    <a href="{{ post.get_absolute_url }}" class="article featured-article featured-article-{{ forloop.counter }}">
        <img src="{{ post.image.url }}" alt="" class="article-image">
        {% for tag in post.tags.all %}
        <span class="article-category">{{ tag.name }}</span>
        {% endfor %}
        <div class="article-data-container">

            <div class="article-data">
                <span>{{ post.publish|date:"l d F Y" }}</span>
                <span class="article-data-spacer"></span>
                <span>{{ post.id }}</span>
            </div>

            <h3 class="title article-title">{{ post.title }}</h3>

        </div>
    </a>
    
{% endfor %}